In [1]:
# Lab | Revisiting Machine Learning Case Study
# In this lab, you will use learningSet.csv file which you already have cloned in today's activities.
# Instructions
# Complete the following steps on the categorical columns in the dataset:

# Check for null values in all the columns

# Exclude the following variables by looking at the definitions. 
#Create a new empty list called drop_list. 
#We will append this list and then drop all the columns in this list later:

# OSOURCE - symbol definitions not provided, too many categories
# ZIP CODE - we are including state already
# Identify columns that over 85% missing values

# Remove those columns from the dataframe

# Reduce the number of categories in the column GENDER. 
#The column should only have either "M" for males, "F" for females, and "other" for all the rest

# Note that there are a few null values in the column. 
#We will first replace those null values using the code below:
# print(categorical['GENDER'].value_counts())
# categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [2]:
# Importing the library

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Reading the file

df = pd.read_csv('learningSet.csv', low_memory=False)
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
categoricals=df.select_dtypes(include=object)
categoricals

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [5]:
categoricals.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [6]:
drop_list = []

In [7]:
missing_values = df.isnull().sum()/df.shape[0]*100

drop_col = missing_values[missing_values>85].keys()
list(drop_col)

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

In [8]:
drop_list = list(drop_col)

In [9]:
drop_list.append('ZIP')

In [10]:
list(drop_list)

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23',
 'ZIP']

In [11]:
df = df.drop(drop_list, axis = 1)

df

,ODATEDW,OSOURCE,TCODE,STATE,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,,,3712,0,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,,,5202,0,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,,,0,0,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,,,2801,0,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,,,2001,0,X,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,,,0,0,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,,,5001,0,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,,,3801,0,,X,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,,,4005,0,X,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,,,1801,0,X,,...,0.0,1,L,1,G,C,1,C,12.0,C

In [12]:
print(categoricals['GENDER'].value_counts())
categoricals['GENDER'] = categoricals['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [13]:
def gender_transform(x):
    if  x in ['M', 'F']:
        return x
    else:
        return 'other'

In [14]:
categoricals['GENDER'] = list(map(gender_transform, categoricals['GENDER']))

In [15]:
categoricals['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

In [ ]:
# df = cat.apply(lambda x: x.str.strip()).replace('', np.nan)
# alternatively

In [ ]:
# Lab | Feature engineering
# In this lab, you will use learningSet.csv file which you have already cloned in the previous activities.
# Instructions
# Here we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the lessons.

# Check for null values in the numerical columns.
# Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.
# Use appropriate EDA technique where ever necessary.

In [16]:
# Importing the library

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer